In [6]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd
import numpy as np

from io import StringIO

app = dash.Dash(external_stylesheets=[dbc.themes.LITERA])

curriculum = pd.read_csv("CurriculumEntity.csv")
df = pd.DataFrame(curriculum, columns = ['name', 'url', 'method', 'style', 'perspective', 'colorformat', 'scriptformat', 'topic', 'scopesequence'])

def update_figure():
    selected_method = 'mastery'
    selected_perspective = 'secular'
    filtered_df = df[(df.method == selected_method) & (df.perspective == selected_perspective)]
    print(filtered_df.head())
    
    return filtered_df

ModuleNotFoundError: No module named 'dash'

In [42]:
update_figure()

                 name                                                url  \
0  Dimensions Math PK  https://www.singaporemath.com/programs/dimensi...
1   Dimensions Math K  https://www.singaporemath.com/programs/dimensi...
2   Dimensions Math 1  https://www.singaporemath.com/programs/dimensi...
3   Dimensions Math 2  https://www.singaporemath.com/programs/dimensi...
4   Dimensions Math 3  https://www.singaporemath.com/programs/dimensi...

    method       style perspective colorformat scriptformat topic  \
0  mastery  conceptual     secular       color     scripted  math
1  mastery  conceptual     secular       color     scripted  math
2  mastery  conceptual     secular       color     scripted  math
3  mastery  conceptual     secular       color     scripted  math
4  mastery  conceptual     secular       color     scripted  math

   scopesequence
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

,name,url,method,style,perspective,colorformat,scriptformat,topic,scopesequence
0,Dimensions Math PK,https://www.singaporemath.com/programs/dimensi...,mastery,conceptual,secular,color,scripted,math,NaN
1,Dimensions Math K,https://www.singaporemath.com/programs/dimensi...,mastery,conceptual,secular,color,scripted,math,NaN
2,Dimensions Math 1,https://www.singaporemath.com/programs/dimensi...,mastery,conceptual,secular,color,scripted,math,NaN
3,Dimensions Math 2,https://www.singaporemath.com/programs/dimensi...,mastery,conceptual,secular,color,scripted,math,NaN
4,Dimensions Math 3,https://www.singaporemath.com/programs/dimensi...,mastery,conceptual,secular,color,scripted,math,NaN
...,...,...,...,...,...,...,...,...,...
199,AoPS Introduction to Number Theory,https://artofproblemsolving.com/store,mastery,conceptual,secular,black/white,nonscripted,math,NaN
200,AoPS Intermediate Algebra,https://artofproblemsolving.com/store,mastery,conceptual,secular,black/white,nonscripted,math,NaN
201,AoPS Intermediate Counting & Probability,https://artofproblemsolving.com/store,mastery,conceptual,secular,black/white,nonscripted,math,NaN
202,AoPS Precalculus,https://artofproblemsolving.com/store,mastery,conceptual,secular,black/white,nonscripted,math,NaN
203,AoPS Calculus,https://artofproblemsolving.com/store,mastery,conceptual,secular,black/white,nonscripted,math,NaN

In [14]:
import pandas as pd
from io import StringIO

curriculum = pd.read_csv("CurriculumEntity.csv")
curriculum.head()
curriculum.columns

Index(['name', 'url', 'method', 'style', 'perspective', 'colorformat',
       'scriptformat', 'topic'],
      dtype='object')

# Getting the data, Lets use requests...

In [52]:
# ref https://stackoverflow.com/questions/62164400/how-to-access-private-github-repo-file-csv-in-python-using-pandas-or-requests
 
# for a public file
#url = 'https://raw.githubusercontent.com/username/repo/master/file.csv' 
#df = pd.read_csv(url, error_bad_lines=False)
url = 'https://raw.githubusercontent.com/username/repo/master/file.csv'
df = pd.read_csv(url, error_bad_lines=False)

 # for a private file

<urllib3.response.HTTPResponse object at 0x7ffc923d4390>

In [3]:
## get virus data
import pandas as pd
from io import StringIO
import requests

In [4]:
## We can use requests and get a byte stream of the CSVget virus data
## dropping lines with extra data
url_rv1 = 'https://github.com/CapitalData/biograkn-covid/raw/master/Dataset/Coronaviruses/GenomeIdentityClean.csv'

url_rv2 = 'https://github.com/CapitalData/biograkn-covid/raw/master/Dataset/Coronaviruses/Host proteins (potential drug targets).csv'

rv = requests.get(url_rv1).text
c = pd.read_csv(StringIO(rv), error_bad_lines=False)

display(c)

rv_2 = requests.get(url_rv2).text
#d = pd.read_csv(StringIO(rv_2), error_bad_lines=False)

display(rv_2)

# alternative syntax to get the bytes stream
#url = 'https://raw.githubusercontent.com/CapitalData/biograkn-covid/master/Dataset/Coronaviruses/Genome%20identity.csv')

b'Skipping line 59: expected 1 fields, saw 3\nSkipping line 66: expected 1 fields, saw 2\nSkipping line 67: expected 1 fields, saw 3\nSkipping line 87: expected 1 fields, saw 3\nSkipping line 135: expected 1 fields, saw 3\nSkipping line 180: expected 1 fields, saw 3\nSkipping line 199: expected 1 fields, saw 6\nSkipping line 225: expected 1 fields, saw 4\nSkipping line 229: expected 1 fields, saw 2\nSkipping line 242: expected 1 fields, saw 2\nSkipping line 243: expected 1 fields, saw 2\nSkipping line 249: expected 1 fields, saw 2\nSkipping line 252: expected 1 fields, saw 2\nSkipping line 260: expected 1 fields, saw 4\nSkipping line 266: expected 1 fields, saw 2\nSkipping line 271: expected 1 fields, saw 2\nSkipping line 272: expected 1 fields, saw 2\nSkipping line 273: expected 1 fields, saw 2\nSkipping line 274: expected 1 fields, saw 2\nSkipping line 275: expected 1 fields, saw 2\nSkipping line 281: expected 1 fields, saw 2\nSkipping line 282: expected 1 fields, saw 2\nSkipping line 283: expected 1 fields, saw 2\nSkipping line 284: expected 1 fields, saw 2\nSkipping line 291: expected 1 fields, saw 2\nSkipping line 299: expected 1 fields, saw 4\nSkipping line 304: expected 1 fields, saw 2\nSkipping line 307: expected 1 fields, saw 2\nSkipping line 308: expected 1 fields, saw 2\nSkipping line 312: expected 1 fields, saw 2\nSkipping line 335: expected 1 fields, saw 2\nSkipping line 505: expected 1 fields, saw 6\nSkipping line 506: expected 1 fields, saw 3\nSkipping line 518: expected 1 fields, saw 6\nSkipping line 519: expected 1 fields, saw 6\nSkipping line 574: expected 1 fields, saw 2\nSkipping line 578: expected 1 fields, saw 2\nSkipping line 581: expected 1 fields, saw 2\nSkipping line 584: expected 1 fields, saw 2\nSkipping line 587: expected 1 fields, saw 2\nSkipping line 590: expected 1 fields, saw 2\nSkipping line 593: expected 1 fields, saw 2\nSkipping line 596: expected 1 fields, saw 2\nSkipping line 602: expected 1 fields, saw 3\nSkipping line 624: expected 1 fields, saw 3\nSkipping line 633: expected 1 fields, saw 3\nSkipping line 634: expected 1 fields, saw 3\nSkipping line 635: expected 1 fields, saw 3\nSkipping line 636: expected 1 fields, saw 3\nSkipping line 637: expected 1 fields, saw 3\nSkipping line 638: expected 1 fields, saw 3\nSkipping line 639: expected 1 fields, saw 3\nSkipping line 640: expected 1 fields, saw 3\nSkipping line 641: expected 1 fields, saw 3\nSkipping line 647: expected 1 fields, saw 3\nSkipping line 648: expected 1 fields, saw 3\nSkipping line 649: expected 1 fields, saw 3\nSkipping line 650: expected 1 fields, saw 3\nSkipping line 651: expected 1 fields, saw 3\nSkipping line 657: expected 1 fields, saw 3\nSkipping line 658: expected 1 fields, saw 3\nSkipping line 659: expected 1 fields, saw 3\nSkipping line 660: expected 1 fields, saw 3\nSkipping line 661: expected 1 fields, saw 3\nSkipping line 662: expected 1 fields, saw 3\nSkipping line 668: expected 1 fields, saw 3\nSkipping line 669: expected 1 fields, saw 3\nSkipping line 670: expected 1 fields, saw 3\nSkipping line 671: expected 1 fields, saw 3\nSkipping line 672: expected 1 fields, saw 3\nSkipping line 673: expected 1 fields, saw 3\nSkipping line 682: expected 1 fields, saw 3\nSkipping line 688: expected 1 fields, saw 3\nSkipping line 694: expected 1 fields, saw 3\nSkipping line 700: expected 1 fields, saw 3\nSkipping line 706: expected 1 fields, saw 3\nSkipping line 713: expected 1 fields, saw 2\nSkipping line 714: expected 1 fields, saw 3\nSkipping line 715: expected 1 fields, saw 3\nSkipping line 716: expected 1 fields, saw 3\nSkipping line 717: expected 1 fields, saw 3\n'

                                       <!DOCTYPE html>
0    <html lang="en" data-color-mode="auto" data-li...
1                                               <head>
2                               <meta charset="utf-8">
3      <link rel="dns-prefetch" href="https://githu...
4      <link rel="dns-prefetch" href="https://avata...
..                                                 ...
512    <div class="Popover-message Popover-message-...
513                                             </div>
514                                             </div>
515                                            </body>
516                                            </html>

[517 rows x 1 columns]

,Coronavirus,Alternative virus name,Host Protein,UniProt ID,Host Gene Entrez ID,PubMed ID/STRING
0,IBV,IBV,NONO,Q15233,4841,23637410
1,IBV,IBV,GSK3A,P49840,2931,23637410
2,IBV,IBV,GSK3B,P49841,2932,23637410
3,IBV,IBV,PABPC1,P11940,26986,23637410
4,IBV,IBV,PABPC4,Q13310,8761,23637410
...,...,...,...,...,...,...
123,SARS,SARS-CoV[GZ02],FGL2,Q14314,10875,STRING Viruses
124,SARS,SARS-CoV[GZ02],XPO1,O14980,7514,STRING Viruses
125,HCoV-229E,HCoV-229E,TGFB1,P01137,7040,STRING Viruses
126,HCoV-229E,HCoV-229E,FGL2,Q14314,10875,STRING Viruses
127,MHV,MHV,SMAD3,P84022,4088,STRING Viruses

In [98]:
# ALT we can use read table to get unparsed lines
virus_meta_df = pd.read_table(r'https://github.com/CapitalData/biograkn-covid/raw/master/Dataset/Coronaviruses/Genome%20identity.csv')

virus_meta_df.head()

  GenBank ID ,Coronavirus ,Identity % ,Host ,Location discovered
0               MN908947,2019-nCoV,100,Human ,China
1  MN938384,2019-nCoV[HKU-SZ-002a],99.99,Human ,C...
2  MN975262,2019-nCoV[HKU-SZ-005b],99.98,Human ,C...
3  AY390556,SARS-CoV[GZ02],79.7,Human ,China , SA...
4      AY485277,SARS-CoV[Sino1-11,79.7,Human ,China